html,
body {
    /* footer support */
    height: 100%;
    margin: 0;
}

body {
    background-color: #E8E8E8;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    margin-top: 100px;
}

.calculator {
    background-color: #555555;
    width: 400px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px
}

.screen {
    min-height: 50px;
    text-align: end;
    font-size: 40px;
    border: 2px solid black;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #EAEAEA;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
#allClearBtn,
#deleteBtn {
    background-color: #555555;
    color: #8B00FF;
}

#allClearBtn:hover {
    background-color: #FF5555;
    color: white;
}

#deleteBtn:hover {
    background-color: #555FFF;
    color: white;
}

[data-number],
#decimalBtn {
    background-color: #555555;
}

[data-number]:hover,
#decimalBtn:hover {
    background-color: #8B00FF;
}

[data-operator],
#percentBtn,
#equalBtn {
    font-size: 35px;
    background-color: #555555;
    color: #8B00FF;
}

[data-operator]:hover,
#percentBtn:hover,
#equalBtn:hover {
    background-color: #8B00FF;
    color: white;
}

.span-2 {
    grid-column: span 2;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* footer support */
    margin-top: auto;
    gap: 10px;
}

.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 300ms ease;
}

.fa-github:hover {
    transform: scale(1.3);
}